# # Как создать и использовать .gitignore

# 	1.Создание файла .gitignore:

# В корне вашего репозитория создайте файл с именем .gitignore:


# touch .gitignore

# 	2.Добавление правил в .gitignore:
# Откройте файл .gitignore в текстовом редакторе и добавьте туда шаблоны файлов или папок, которые нужно игнорировать. Например:


# # Игнорировать все файлы .log
# *.log

# # Игнорировать папку node_modules
# node_modules/

# # Игнорировать файл .env (содержащий конфиденциальные данные)
# .env

# # Игнорировать все файлы в папке build
# build/

# # Игнорировать конкретный файл
# config.local.json
# Сохраните файл .gitignore.

# 	3.Проверка игнорируемых файлов:
# Чтобы проверить, какие файлы будут игнорироваться, выполните команду:

# git status --ignored


# *.txt тут я запретил пушить текстовые файлы!